@if (routerLink()) {

    <a
        class="button"
        [class.primary]="variant() === 'primary'"
        [class.secondary]="variant() === 'secondary'"
        [class.outline]="variant() === 'outline'"
        [class.small]="size() === 'small'"
        [class.large]="size() === 'large'"
        [class.disabled]="disabled()"
        [routerLink]="routerLink()">

        @if(icon()){

            <span class="icon">

                {{ icon() }}

            </span>

        }

        <span>

            {{ text() }}

        </span>

    </a>

} @else {

    <a
        class="button"
        [class.primary]="variant() === 'primary'"
        [class.secondary]="variant() === 'secondary'"
        [class.outline]="variant() === 'outline'"
        [class.small]="size() === 'small'"
        [class.large]="size() === 'large'"
        [class.disabled]="disabled()"
        [href]="disabled() ? null : href()"
        [target]="external() ? '_blank' : null"
        [rel]="external() ? 'noopener noreferrer' : null">

        @if(icon()){

            <span class="icon">

                {{ icon() }}

            </span>

        }

        <span>

            {{ external() ? text() + ' ↗' : text() }}

        </span>

    </a>

}