<footer>

    <div class="container">

        <div class="footer-grid">

            <div>

                <h3>Lazarus-Konferenz</h3>

                <p>

                    Die deutschsprachige Konferenz rund um Lazarus und
                    Free Pascal.

                </p>

                <p>

                    {{ general.date }} {{ general.year }}<br>
                    {{ location.city }}

                </p>

            </div>

            <div>

                <h4>Navigation</h4>

                <ul>

                    <li><a routerLink="/">Start</a></li>
                    <li><a routerLink="/programm">Programm</a></li>
                    <li><a routerLink="/veranstaltungsort">Veranstaltungsort</a></li>
                    <li><a routerLink="/anreise">Anreise</a></li>
                    <li><a routerLink="/unterkuenfte">Unterkünfte</a></li>
                    <li><a routerLink="/geschichte">Geschichte</a></li>
                    <li><a routerLink="/verpflegung">Verpflegung</a></li>

                </ul>

            </div>

            <div>

                <h4>Links</h4>

                <ul>

                    <li>

                        <a
                            href="https://eventfrog.de/de/p/wissenschaft-und-technik/lazaruskonferenz-2026-7418767730667484008.html"
                            target="_blank"
                            rel="noopener noreferrer">

                            Tickets

                        </a>

                    </li>

                    <li>

                        <a
                            href="https://lazarusforum.de/"
                            target="_blank"
                            rel="noopener noreferrer">

                            Forum

                        </a>

                    </li>

                    <li>

                        <a
                            href="https://verein.lazarusforum.de/"
                            target="_blank"
                            rel="noopener noreferrer">

                            Lazarusforum e.V.

                        </a>

                    </li>
                    
                    <li>

                        <a
                            href="https://www.lazarus-ide.org/"
                            target="_blank"
                            rel="noopener noreferrer">

                            Lazarus IDE

                        </a>

                    </li>

                    <li>

                        <a
                            href="https://www.freepascal.org/"
                            target="_blank"
                            rel="noopener noreferrer">

                            Free Pascal

                        </a>

                    </li>

                </ul>

            </div>

            <div>

                <h4>Rechtliches</h4>

                <ul>

                    <li><a routerLink="/impressum">Impressum</a></li>
                    <li><a routerLink="/datenschutz">Datenschutz</a></li>

                </ul>

            </div>

        </div>

        <div class="copyright">

            © {{ year }} Lazarus-Konferenz

        </div>

    </div>

</footer>