<nav
    [class.mobile]="mobile()">

    @for(item of items(); track item.label){

        @if(item.route){

            <a
                [routerLink]="item.route"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                    exact:item.route === '/'
                }">

                {{ item.label }}

            </a>

        }

        @if(item.href){

            <a
                [href]="item.href"
                target="_blank"
                rel="noopener noreferrer">

                {{ item.label }}

                ↗

            </a>

        }

    }

    <a class="ticket-button mobile-only"
            href="https://eventfrog.de/de/p/wissenschaft-und-technik/lazaruskonferenz-2026-7418767730667484008.html"
            target="_blank" rel="noopener noreferrer">

            Tickets ↗

        </a>

</nav>